.card_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #2d201c;
    width: 350px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid lightgreen;
    background-color: #8BC34A;
    border-radius: 10px;
    transition: all .25s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    .card_img {
        width: 150px;
        height: 200px;
    }

    .card-text_wrap {
        width: 70%;
        background-color: #e1ffbe33;
        font-size: 14px;
        border-radius: 10px;
        padding: 15px;
        margin: 10px;

        .card_title {
            font-size: 1.7rem;
        }

        .card_text {
            font-weight: 500;
        }

    }

}